* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  /* width: 550px; */
  padding: 16px 200px 14px 190px;
  height: 55px;
  background: #f55a5a;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 45px;
}

.header p {
  font-family: Inter, sans-serif;
  font-size: 14.5px ;
  line-height: 17.5px;
  color: #ffffff;
  width: 109px;
  height: 16px;
  font-style: normal;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.075em; 
}


.iconGlobe {
  width: 24px;
  height: 24px;
  color: #fff;
  margin-right: 7px;
}



.highLight {
  color: white;
}

/* journal */
.journal {
  display: flex;
  margin-bottom: 36px;

  font-family: Inter, sans-serif;
  /* align-items: center; */
}


.grid {
  margin-bottom: 7px;
}

.image {
  padding: 0 19px 0 40px;
  /* width: 125px; */
  height: 168px;
  border-radius: 5px;
}

.google {
  padding-right: 180px;
  color: #918E9B;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 12px;

}

.location {
  padding-right: 4px;
  padding-top: 4px;
  width: 17px;
  color: #f55a5a;
}

.japan {
  padding-right: 12px; 
  width: 40px;
  height: 10px;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;

}


.title {
  padding-right: 170px;
  width: 326px;
  height: 40px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
  margin-bottom: 7px;
}

.date {
  padding-right: 155px;
  width: 319px;
  height: 11px;
  font-style: normal;
  font-weight: bold;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
  margin-bottom: 9px;
}

.description {
  /* padding: 0; */
  /* margin: 0; */
  width: 326px;
  height: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
  color: #2B283A;
  padding-left: 0;

}